.contact-container{
    margin: 40px;
    width: auto;
    padding: 50px;
    padding-bottom: 40px;
}

.loading-text-container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.loading-text-container p{
    margin: 0;
}

.loading-text{
    margin-left: 10px;
}

.greeting_container{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 50px;
    padding-bottom: 40px;
    height: 80%;
}

@media only screen and (max-width:576px){
    .contact-container{
        margin: 0px;
        width: auto;
        padding: 20px;
        padding-top: 50px;
    }
    .rightside_contact{
        margin-top: 60px;
        text-align: center;
    }
}