.home_container {
    margin: 40px auto;
    max-width: 900px;
    padding: 38px;
    border-radius: 10px;
    
}

.header h2 {
    font-size: 2.5rem;
    color: #1C3D5A;
}

.header h5 {
    color: #6c757d;
    font-size: 1.25rem;
}

.header p {
    font-size: 1.1rem;
    color: #343a40;
}

.intro h4 {
    color: #1C3D5A;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #343a40;
    margin-bottom: 20px;
}

.profile_pic {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #1C3D5A;
}

@media only screen and (max-width: 576px) {
    .home_container {
        margin: 20px;
        padding: 20px;
    }

    .profile_pic {
        max-width: 150px;
    }

    .header h2 {
        font-size: 2rem;
    }

    .intro h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    
}