.resume_container {
    border-radius: 10px;
    background-color: #f9f9f9;
}

.resume_section_1 h1 {
    font-size: 2.5rem;
    color: #1C3D5A;
}

.resume_section_1 p {
    color: #6c757d;
}

.resume_section_1 a {
    color: #1C3D5A;
}

.card-title {
    color: #1C3D5A;
}

@media only screen and (max-width: 576px) {
    .resume_container {
        padding: 20px;
    }

    .resume_section_1 {
        padding-top: 20px;
        margin-bottom: 20px;
    }
}
