* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.sidebar {
    min-height: 100vh;
    background-color: #1C3D5A;
    padding: 40px 20px;
    transition: all 0.3s ease;
}

.heading, .subheading {
    color: white;
    text-align: center;
}

.sections-container {
    margin-top: 50px;
}

.section {
    color: #E6E6E6;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.section::after{
    display: block;
    width: 100%;
    margin-left: auto;
    height: 2px;
    /* margin-bottom: 2px; */
    background-color: white;
    content: "";
    transition: all 0.3s ease;  
}

.section:hover {
    background-color: #ffffff;
    color: #1C3D5A;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.active {
    background-color: #E6E6E6;
    color: #1C3D5A;
    font-weight: bold;
    transition: all 0.3s ease;
}

.section.active:hover::after{
    background-color: white;
}

.active:hover {
    background-color: #FFFFFF;
    color: #1C3D5A;
}

.active::after{
    background-color: #E6E6E6;   
}

.active::after:hover{
    background-color: white;
}

h5{
    margin-bottom: 10px;
}

.col-1{
    margin-bottom: 10px;
}

/* Mobile Sidebar and Navbar */
.small_sidebar {
    display: none;
}

.close_navbar_btn {
    display: none;
}


@media only screen and (max-width: 768px) {
    .heading{
        font-size: 20px;
    }

    .subheading{
        font-size: 10px;
    }

    .sections-container h5{
        font-size: 17px;
    }
}


@media only screen and (max-width: 576px) {

    .home_container{
        padding: 15px;
    }

    .heading-container{
        margin-top: 20px;
    }
    .heading{
        font-size: 30px;
    }

    .subheading{
        font-size: 15px;
    }


    .small_sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        background-color: #1C3D5A;
        color: white;
        width: 100%;
    }

    .small_sidebar h4{
        margin: 0;
    }

    .navbar-toggle-icon {
        font-size: 24px;
        color: white;
        cursor: pointer;
    }

    .sidebar {
        width: 70%;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    .openNav {
        transform: translateX(0);
    }

    .closeNav {
        transform: translateX(-100%);
    }

    .close_navbar_btn {
        display: block;
        color: white;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: #1C3D5A;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .components_container{
        width: 100%;
    }
}

