*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.sidebar{
    min-height: 100vh;
    background-color: #1C3D5A;
    padding-top: 50px;
}

.heading, .subheading{
    color: white;
    text-align: center;
}

.sections-container{
    margin-top: 80px;
}

.section{
    color: #E6E6E6;
    align-items: center;
    
}
h5{
    margin-bottom: 0;
    /* font-size: 16px; */
}

.section:hover{
    background-color: white;
    color: black;
    transition: 0.25s;
}

.section::after{
    display: block;
    width: 100%;
    margin-left: auto;
    height: 2px;
    margin-bottom: 2px;
    background-color: white;
    content: "";
}

.active{
    /* margin-bottom: 8px; */
    padding: 4px 0 6px 0;
    background-color: #E6E6E6;
    color: black;    
}

.active::after{
    content: "";
    background-color: #E6E6E6;
    transition: 0.25s;
    
}
.active:hover::after{
    background-color: #FFFFFF;
}
 
/* display none for the small sidebar */

.small_sidebar{
    display: none;
}

.close_navbar_btn{
    display: none;
}



/* Media queries*/

@media only screen and (max-width: 576px){
    .small_sidebar{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .sidebar{
        width: 90%;
        position: absolute;
        z-index: 2;
    }

    .close_navbar_btn{
        position: absolute;
        top: 15px;
        right: 15px;
        color: white;
    }

    .closedNav{
        transform: translateX(-100%);
        transition: 0.5s
    }

    .openNav{
        transform: translatex(0);
        transition: 0.5s;
    }

    .close_navbar_btn{
        display: block;
    }
}